body {
  font-family: Arial;
  text-align: center;
  background: #ffe6f0;
}

#mainButton {
  padding: 25px 50px;
  font-size: 30px;
  cursor: pointer;
  border-radius: 15px;
  background: #ff69b4;
  color: white;
  border: none;
  margin: 20px;
  box-shadow: 0 5px #d14c8b;
}

#mainButton:active {
  box-shadow: 0 2px #d14c8b;
  transform: translateY(3px);
}

#shop {
  margin-top: 30px;
  padding: 20px;
  background: white;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  box-shadow: 0 0 10px #aaa;
}

.item {
  background: #ffd6ea;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.item:hover {
  background: #ffb6d6;
}

#rebirthBtn {
  background: #ff7f50;
  color: white;
  margin-top: 20px;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}

#rebirthBtn:hover {
  background: #ff6333;
}
#bankBtn {
  background: #ffe6b3;
}

#bankBtn:hover {
  background: #ffd480;
}

#bankWorkerBtn {
  background: #ffeb99;
}

#bankWorkerBtn:hover {
  background: #ffe066;
}
